body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.form-box{
    width: 100%;
    max-width:320px;
    background-color: #f2f2f2;
}
form{
    width: 100%;
}
input,button{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
button{
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;

}