ul{
list-style-type: none;
padding: 0;
margin: 0;
background-color: #078807;
overflow: hidden;
}
li{
float: left;
}
li a{
padding: 15px;
display: block;
text-decoration: none;
color: white;
text-align: center;
font-family: Arial,sans-serif;
font-size: 12px;
}
li a:hover{
background-color: black;
}
.firstname{
    background-color: brown;
    font-size: 50px;
}
.secondname{
    background-color: darkorange;
    font-size: 50px;
}
.surname{
    background-color: cornflowerblue;
    font-size: 50px;
}